.intro{
    padding-top: 25%;
    /* padding-left: 20px; */
    width: 100%;
    background: transparent;
    background-image: url(../../assets/imgs/profile-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: 590px 590px;
}

.bigText{
    font-size: 60px;
    margin: 0px;
    font-family: Noto-sans-regular;
}

.littleText{
    font-size: 48px;
    margin: 0px;
    font-weight: 100;
    color: #3A505C;
}

.buttons{
    flex: 1;
    flex-direction: row;
}

.hireButton{
    background-color: #685ED8;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 50px;
    width: 220px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin: 0;
    margin-right: 20px;
    float: left;
}

.cvButton{
    background-color: #FFBDC6;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 50px;
    width: 220px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.button>p{
    margin: 0px;
}

.buttonLink{
    text-decoration: none;
    color: black;
}

.introText{
    font-size: 35px;
    width: 58%;
    color: #3A505C;
}