@font-face {
  font-family: 'Molengo';
  src: local('Molengo'), url(./assets/fonts/Molengo/Molengo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto-sans-bold';
  src: local('Noto-sans-bold'), url(./assets/fonts/Noto_Sans/NotoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto-sans-regular';
  src: local('Noto-sans-regular'), url(./assets/fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Molengo;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


